{
  "version": 1,
  "hooks": {
    "stop": [
      {
        "command": "node ./hooks/mx-master-haptic/haptic.js completed"
      }
    ],
    "afterAgentResponse": [
      {
        "command": "node ./hooks/mx-master-haptic/haptic.js knock"
      }
    ],
    "postToolUseFailure": [
      {
        "command": "node ./hooks/mx-master-haptic/haptic.js angry_alert"
      }
    ],
    "subagentStop": [
      {
        "command": "node ./hooks/mx-master-haptic/haptic.js sharp_state_change"
      }
    ]
  }
}
